section{
    background-image: url(https://img2.pic.in.th/pic/bdb6af909dff46b726.png);
    background-size: cover; /* ปรับขนาดรูปให้เต็มพื้นที่ */
    background-position: center; /* วางรูปไว้ตรงกลาง */
    height: 100vh; /* ความสูงเต็มหน้าจอ */
    margin: 0;
    font-family: Arial, sans-serif;
}
img {
    width: 15%;
}