section{
    background-image: url(https://img2.pic.in.th/pic/bdb6af909dff46b726.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
img {
    width: 15%;
}
