<app-navbar />
<section>
  <button type="button" class="btn btn-outline-secondary m-2">
    <a
      class="text-decoration-none text-center fw-bold text-dark"
      routerLink="/admin"
      ><i class="fa-solid fa-arrow-left"></i> Back</a
    >
  </button>
    <div class="container mt-4">
        <div class="border rounded shadow p-4">
             <div class = " d-flex justify-content-between">
                <div class="mb-4 d-flex justify-content-start">
                    <input type="text" class="form-control" placeholder="ค้นหาเอกสาร" [(ngModel)]="searchTerm" (ngModelChange)="SData()" style="border-radius: 1rem; font-size: 18px; width: 600px;">
                </div>
             </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>ชื่อ</th>
                        <th>เจ้าของ</th>
                        <th>วันที่อัปโหลด</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @for (item of SearchData; track $index) {
                    <tr>
                        <td><i class="bi bi-file-pdf text-danger me-2"></i>{{item.file_name}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.created_at | date: 'EEE/dd/MM/YYYY'}}</td>
                        <!-- <td><a (click)="downloadFile(item.file, item.file_name)">ดาวน์โหลด</a></td>
                        <td><i class="bi bi-three-dots-vertical"></i></td>
                        <button (click)="deleteFile(item.file_id)">ลบ</button> -->
                        <td>
                            <div class="dropdown">
                              <i class="bi bi-three-dots-vertical" (click)="toggleDropdown(item.file_id)"></i>
                              @if (dropdownOpen[item.file_id]) {
                                <div class="dropdown-menu">
                                  <a (click)="downloaFile(item.file_id)">ดาวน์โหลด</a>
                                  <button (click)="deleteFile(item.file_id)">ลบ</button>
                                </div>
                              }
                            </div>
                          </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</section>
