section {
    background-image: url(https://i.ibb.co/9yFSD9P/Colorful-Watercolor-Creative-Project-Presentation-9-3.png);
    background-size: cover; /* ปรับขนาดให้ภาพครอบคลุมพื้นที่ทั้งหมด */
    background-position: 50px -30px;
    background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
    
    width: 100%; /* กำหนดให้ section ใช้ความกว้างทั้งหมด */
    height: 100vh; /* ความสูงของ section เท่ากับ 100% ของ viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
}
.bar{
    background-color: #C5D3E8;
    height: 70px;
    li{
        margin-right: 10px;
    }
}
.too-bar{
    background-color: #C5D3E8;
    width: 70px;
    height: 90.5%;
    li{
        margin-top: 80px;
    }
}
