<div class ="bar py-3 px-3  shadow-sm">
  <div class="d-flex justify-content-between ">
      <ul class="d-flex gap-3" style="margin: 0; padding: 0; list-style: none;">
          <li ><i class="bi bi-list" style="font-size: 32px;" ></i></li>
          <li style="font-size: 32px;"><img src="https://s3-alpha-sig.figma.com/img/ed57/3b4e/c0a6250dc4bb73ccfc04ddff683fec69?Expires=1736726400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OuRK6hLtnk1C1D-9CftitdxujnR4KlfLyJ71g1i68oZktFZVLk-bVCi5nJcoMz5wo7QXGLmnF52TMAt07hYFxGNIaC99U61PrBSjpgj6Qu4YjgFTWjX9dNs6gPx1zDA887uAssqbLqbFiE~rc9jhbjGmTHlj7G9Mk~Xey61N555Dj5NvUPOQw3MZfd0Rf0Amtt6isXJynSvev8Zvdzz09ARLCoosznbeBW~K46i6cGgTAVQZ0mgmKfLW4JkkaZOgxuo3yxuUN5117lb5KtlDc8WC5OEtxEDyyyDQk1-JkD9nKki~Le8KbMtyfYULCaT670-y11EG-sUzP~AND8obEg_" style="height: 45px; width: 40px;" alt=""></li>
          <li style="font-size: 32px;" >BOOBOO MEMORY</li>
      </ul>
      <ul style="margin: 0; padding: 0; list-style: none;">
          <li><i class="bi bi-person-circle" style="font-size: 30px;"></i></li>
          <li><i>สวัสดีคุณ{{data.name}}</i></li>
          <li> <i (click)="logout()">logout</i></li>
      </ul>
  </div>
