section{
    background-image: url(https://i.ibb.co/z8XsYbk/Colorful-Watercolor-Creative-Project-Presentation-9-2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.bar{
    background-color: #C5D3E8;
    height: 70px;
    li{
        margin-right: 10px;
    }
}
.border-dashed {
    border-style: dashed !important;
    border-width: 10px;
  }

 @media (max-width: 768px) {
        .bar ul {
            flex-wrap: wrap;
            gap: 1rem;
        }

        .bar ul li {
            font-size: 24px;
        }

        .text-center h3 {
            font-size: 24px;
        }

        .text-center p {
            font-size: 20px;
        }

        .border-dashed {
            padding: 2rem;
        }
    }

    @media (max-width: 576px) {
        .bar ul li {
            font-size: 18px;
        }

        .text-center h3 {
            font-size: 18px;
        }

        .text-center p {
            font-size: 16px;
        }

        .border-dashed {
            padding: 1rem;
        }
    }
